<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta charset="UTF-8">
    <title>cs235 Lab4 by jnin044</title>
    <style type="text/css">

    </style>
</head>
<body>
<h1>The University of Auckland</h1>

<p>The University of Auckland is the largest university in New Zealand, located in the country's largest city Auckland. It is the highest-ranked university in the country, being ranked 81st worldwide in the 2016/17 QS World University Rankings. The university is made up of eight faculties over six campuses. It has over 40,000 students, and more than 30,000 equivalent full-time students. More information can be found from the <a href="
https://en.wikipedia.org/wiki/University_of_Auckland">University of Auckland Wikipedia page</a>. </p>
<section>
<h2>History</h2>

<p>The University of Auckland began as a constituent of the University of New Zealand, founded on 23 May 1883 as Auckland University College. The University of New Zealand was dissolved in 1961 and the University of Auckland was empowered by the University of Auckland Act 1961.</p> <div id="image"><img src="../static/img/logo.png" alt="University of Auckland arms"></div><p>The University Arms seen above was granted on 15 February 1962, and was recorded in the College of Arms, London. The open book with seven clasps on either side and the three stars, express the idea of learning pursued under the sky of the Southern Hemisphere. The kiwis signify New Zealand and the wave beneath them represents Auckland's coastal location. The university's motto is <span id="motto">Ingenio et labore</span> which may be translated from Latin as "by natural ability and hard work". </p>

<p>A more detailed look at the history of the University of Auckland can be found <a href="
https://www.auckland.ac.nz/en/about-us/about-the-university/the-university/university-history/key-developments-1883-2000s.html">here</a>. </p>
</section>
<section>
<h2>Campuses</h2>

<p>Currently the University of Auckland is spread across six campuses, all situated in the Auckland and Northland regions in the upper North Island of New Zealand:</p>
<table>
 <tr id="tableheader"><td>Campus</td>	      <td>Location</td></tr>
<tr class="tablecontent"><td>City</td>	      <td>Auckland CBD</td></tr>
<tr class="tablecontent"><td>Tamaki</td>	      <td>Glen Innes</td></tr>
<tr class="tablecontent"><td>Grafton</td>      <td>Grafton</td></tr>
<tr class="tablecontent"><td>Epsom</td>	      <td>Epsom</td></tr>
<tr class="tablecontent"><td>Tai Tokerau</td>  <td>Whangarei</td></tr>
<tr class="tablecontent"><td>Leigh Marine Laboratory</td>	<td>Cape Rodney-Okakari Point Marine Reserve</td></tr>
</table>
</section>
<section>

<h2>Faculties</h2>

<p>The University of Auckland has eight faculties:</p>
<ul>
<li>Faculty of Arts</li>
<li>Business School</li>
<li>Faculty of Creative Arts and Industries</li>
<li>Faculty of Education and Social Work</li>
<li>Faculty of Engineering</li>
<li>Faculty of Law</li>
<li>Faculty of Medical and Health Sciences</li>
<li>Faculty of Science</li>
</ul>
</section>
</body>
</html>